/*
 * =>书写CSS一个相对比较规范的样式编写顺序
 * display
 * position (top/left/right/bottom/z-index)
 * float
 * margin
 * padding
 * width/height
 * border
 * 文本操作系列的
 * 背景操作系列的
 * 其它样式
 */

.banner {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    overflow: hidden;
}

/*--图片区域--*/
.banner .imgBox {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%; /*宽度需要在JS中动态计算：总LI的个数 * 1000 */
    height: 100%;
    overflow: hidden;
}

.banner .imgBox li {
    float: left;
    width: 1000px;
    height: 100%;
    background: url("../img/default.gif") no-repeat center center #EEE;
}

.banner .imgBox li a {
    display: block;
}

.banner .imgBox li a, .banner .imgBox li a img {
    width: 100%;
    height: 100%;
}

.banner .imgBox li a img {
    opacity: 0;
    filter: alpha(opacity=0);
}

/*--焦点区域--*/
.banner .focus {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 999;

    width: 100%;
    text-align: center;
    font-size: 0; /*取消LI设置DISPLAY=INLINE-BLOCK后之间默认的间距(浏览器会把LI之间的换行和空格算作文本,导致出现间距)*/
}

.banner .focus li {
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: lightblue;
    cursor: pointer;
}

.banner .focus li.select {
    background: lightcoral;
}

/*--左右按钮--*/
.banner .arrow {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -22.5px;
    z-index: 999;

    width: 30px;
    height: 45px;
    background: url("../img/pre.png") no-repeat;

    opacity: 0.2;
    filter: alpha(opacity=20);
}

.banner .arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.banner .arrow.arrowLeft {
    left: 20px;
}

.banner .arrow.arrowRight {
    right: 20px;
    background-position: -45px 0;
}