.tab {
    margin: 10px auto;
    width: 500px;
    font-size: 14px;
}

.tab .page {
    position: relative;
    top: 1px;
}

.tab .page li {
    float: left;
    margin-right: 10px;
    padding: 0 15px;
    line-height: 35px;
    background: #CCC;
    border: 1px solid #AAA;
    cursor: pointer;
}

.tab .page li.select {
    background: #FFF;
    border-bottom-color: #FFF;
}

.tab .content {
    display: none;
    padding: 10px;
    border: 1px solid #AAA;
}

.tab .content.select {
    display: block;
}

.tab .content ul li {
    line-height: 30px;
}












