html {
    font-size: 100px; /*640 DESIGN:1REM=100PX*/
}

html, body {
    background: #F4F4F4;
}

.container {
    margin: 0 auto;
    max-width: 640px;
}

.swiper-container {
    height: 2.86rem;
}

.swiper-container .swiper-slide {
    height: 2.86rem;
}

.swiper-container .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}