html {
    font-size: 100px; /*640设计稿：1REM=100PX*/
}

html, body, .container {
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 640px;
}

.container .backgroundImg, .container .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
}

.container .backgroundImg {
    background: url("../img/myDream.jpg") no-repeat;
    background-size: cover;
    -webkit-filter: blur(7px);
    filter: blur(7px);
}

.container .background {
    z-index: -1;
    background: rgba(0, 0, 0, .5);
}

/*--HEADER--*/
.header {
    position: relative;
    padding: .3rem;
    background: rgba(0, 0, 0, 0.2);
}

.header .content {
    font-size: 0;
}

.header .content img {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: top;
}

.header .content h2 {
    display: inline-block;
    vertical-align: top;
    margin-left: .2rem;
}

.header .content h2 span {
    display: block;
    height: .6rem;
    line-height: .6rem;
    color: #FFF;
    font-size: .36rem;
}

.header .content h2 span:nth-child(2) {
    font-size: .32rem;
}

.header .musicBtn {
    display: none;
    position: absolute;
    right: .3rem;
    top: 50%;
    margin-top: -.3rem;
    width: .6rem;
    height: .6rem;
    background: url("../img/music.svg") no-repeat;
    background-size: 100% 100%;
}

.header .musicBtn.move {
    -webkit-animation: musicMove .5s linear infinite both;
    animation: musicMove .5s linear infinite both;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--FOOTER--*/
.footer {
    margin: 0 .2rem;
    height: 2.2rem;
}

.footer .progress {
    position: relative;
    height: .8rem;
    overflow: hidden;
}

.footer .progress span {
    position: absolute;
    top: 0;
    width: .9rem;
    height: 100%;
    line-height: .8rem;
    text-align: center;
    color: rgba(255, 255, 255, .5);
    font-size: .24rem;
}

.footer .progress span.current {
    left: 0;
}

.footer .progress span.duration {
    right: 0;
}

.footer .progress .proBg {
    position: relative;
    margin: .38rem .9rem 0 .9rem;
    height: .04rem;
    background: rgba(255, 255, 255, .5);
}

.footer .progress .proBg .already {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #31C27C;
    -webkit-transition: .3s;
    transition: .3s;
}

.footer .down {
    display: block;
    margin: 0 auto;
    width: 4.4rem;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    color: #FFF;
    font-size: .36rem;
    border-radius: .45rem;
    background: url("../img/sprite_play.png") .2rem -5.86rem no-repeat #31C27C;
    background-size: .8rem 7rem;
}

/*--MAIN--*/
.main {
    position: relative;
    margin: .4rem .2rem;
    height: 6.56rem; /*需要在JS中处理:屏幕的高度-HEADER-FOOTER-.8REM对应的PX高度值*/
    overflow: hidden;
}

.main .wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: .3s;
    transition: .3s;
}

.main .wrapper p {
    height: .84rem;
    line-height: .84rem;
    text-align: center;
    color: rgba(255, 255, 255, .5);
    font-size: .32rem;
    letter-spacing: .04rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main .wrapper p.select {
    color: #31C27C;
    -webkit-transition: .3s;
    transition: .3s;
}